@media only screen and (max-width: 1200px) {
  video, .dark-mask {
    height: 113%;
  }
  
  .animated {
    opacity: 1;
    transform: translateY(50%);
    transition: opacity 1s ease, transform 1s ease;
  }

  .show-animation {
    opacity: 1;
    transform: translateY(0);
  }
  
  header {
    flex-direction: column;
  }

  .logo a {
    gap: 1rem;
  }

  h1 {
    margin: 0.8rem 0;
    font-size: 2.5rem;
  }

  .logo img {
    width: 5rem;
  }

  ul {
    gap: 2rem;
    margin-right: 4rem;
  }

  .nav-button {
    padding: 10px 0;
    font-size: 15px;
  }

  .hero-container {
    padding: 0;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .left-container {
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .left-container h2 {
    margin-top: 3rem;
    width: 100%;
  }

  .left-container p {
    width: 70%;
    padding: 0 1rem;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }

  .main-button {
    width: 11rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .right-container {
    display: none;
  }

  .main-burger {
    margin: 4rem 0;
    width: 23rem;
  }

  img.section-icon {
    width: 7rem;
  }

  .highlight img {
    width: 10rem;
  }

  .highlights-container h3,
  .customers-container h3,
  .highlight-box h4 {
    width: 90%;
    font-size: 5vw;
  }

  .highlight {
    height: 30rem;
  }

  .polygon strong {
    font-size: 9rem;
    width: 78%;
  }

  .highlight-box {
    text-align: center;
  }

  .highlight-box p {
    font-size: 0.8rem;
    width: 70%;
  }

  .highlight-box button {
    padding: 0.7rem 2rem;
    font-size: 0.7rem;
  }

  .right strong {
    width: 85%;
  }

  .customer-box img {
    width: 8rem;
  }

  .customer-box p {
    width: 90%;
  }

  .customers-buttons img {
    width: 4rem;
  }

  .coupons {
    flex-direction: column;
  }

  .three {
    gap: 1rem;
    margin: 0 auto 2rem;
    width: 83.53%;
  }

  .three img {
    width: 8rem;
  }

  .three h3 {
    font-size: 1rem;
  }

  .three h4 {
    font-size: 0.7rem;
  }

  .three-text {
    gap: 0.5rem;
  }

  .three button {
    margin-bottom: 0;
  }

  .modal-content {
    width: 70%;
  }

  #category-list {
    gap: 1.2rem;
    flex-wrap: wrap;
  }

  .category-button {
    font-size: 15px;
    padding: 0;
    border-right: none;
  }

  .category-button.selected {
    border-bottom: 1px solid #ffffff;
    border-right: none;
  }

  .cart {
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin-bottom: 2rem;
  }

  .table-display {
    width: 21rem;
    padding: 10px 20px;
    margin: 1rem;
  }

  .cart-display strong {
    text-align: center;
  }

  td {
    padding: 10px 0;
  }

  th {
    padding: 10px 0;
    font-size: 0.7rem;
  }

  .name-box {
    padding-left: 0;
    flex-direction: column;
  }

  .total-box {
    margin-top: 1rem;
    width: 21rem;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin: 0;
  }

  .logo img {
    width: 4rem;
  }

  ul {
    gap: 1rem;
    margin-right: 4rem;
  }

  .nav-button {
    font-size: 14px;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .left-container p {
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.08rem;
    line-height: 1.8rem;
  }

  .main-burger {
    width: 80%;
  }

  img.section-icon {
    width: 5rem;
  }

  .highlight img {
    width: 8rem;
  }

  .highlights-container h3,
  .customers-container h3,
  .highlight-box h4 {
    font-size: 1.2rem;
  }

  .polygon strong {
    width: 83%;
  }

  .highlight-box p {
    width: 80%;
  }

  .highlight-box button {
    padding: 0.5rem 2rem;
  }

  .right strong {
    width: 97%;
  }

  .coupons {
    width: 90%;
  }

  .three {
    width: 90%;
  }

  .modal-content {
    width: 90%;
  }
}